body {
    font-family: 'Pattaya', sans-serif;
    background-color: #1d0200; /* Warm black background */
    color: #f5d3b5; /* Creamy orange-brown text */
    margin: 0;
    padding: 10px;
}

h1 {
    color: #f5d3b5; /* Creamy orange-brown title */
    font-size: 2.5em; /* Adjust title size smaller */
    margin: 0;
    text-align: left; /* Align to the left */
}

h2 {
    color: #f5d3b5; /* Creamy orange-brown subtitle */
    font-size: 1em; /* Smaller subtitle */
    text-align: left; /* Align to the left */
    margin-top: 4px;
    line-height: 0.7; /* Smaller line spacing */
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#slider {
    width: 80%;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, blue, red);
    position: relative;
}

#slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(
        to right,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5) 2px,
        transparent 2px,
        transparent 6px
    );
    border-radius: 10px;
}

#slider-labels {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 5px;
}

#slider-labels span {
    font-size: 0.9em;
}

#map {
    width: 100%;
    height: 570px;
    margin-top: 17px;
}
