body {
    font-family: 'Pattaya', sans-serif;
    background-color: #2c2c2c; /* Warm black background */
    color: #f5d3b5; /* Creamy orange-brown text */
    margin: 0;
    padding: 3px; /* Reduced padding */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1 {
    color: #f5d3b5; /* Creamy orange-brown title */
    font-size: 2.5em; /* Adjust title size smaller */
    margin: 0;
    padding-top: 0; /* Remove extra space above */
    text-align: center; /* Center-align the title */
}

h2 {
    color: #f5d3b5; /* Creamy orange-brown subtitle */
    font-size: 1em;
    text-align: center; /* Center-align the subtitle */
    margin-top: 4px;
    line-height: 0.5;
    padding-top: 0; /* Remove extra space above */
}

#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px; /* Reduced space above the slider */
    margin-bottom: 3px; /* Reduced space below the slider */
}

#slider {
    width: 200px; /* Slightly wider slider */
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(to right, 
        #D3D3D3,    /* Light grey for -16 */
        blue,       /* Blue for -11 to 0 */
        orange,     /* Orange for 0 */
        red,        /* Red for 10 */
        #228B22        /* Forest Green for 11 to 16 */
    );
    position: relative;
}

#slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(
        to right,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5) 2px,
        transparent 2px,
        transparent 6px
    );
    border-radius: 10px;
}

#slider-labels {
    display: flex;
    justify-content: space-between;
    width: 200px; /* Adjusted to match slider width */
    margin-top: 5px;
}

#slider-labels span {
    font-size: 0.9em;
}

#map {
    width: 100%;
    height: 500px; /* Increased height for the map */
    margin-top: 20px;
}

.mapboxgl-popup {
    background-color: #212020; /* Warm black background */
    color: #212020; /* Creamy orange-brown text */
    border-radius: 8px; /* Rounded corners */
    border: none;
}

.mapboxgl-popup-content {
    font-family: 'Pattaya', sans-serif;
    font-size: 14px;
    padding: 10px;
}

.mapboxgl-popup-close-button {
    color: #f5d3b5; /* Close button color */
}

.mapboxgl-popup-tip {
    display: none; /* Remove the element behind the triangle pointer */
}
